<div class="bg-light lter b-b wrapper-md">
    <div class="row padder">
        <h1 class="m-n font-thin h3 text-black">
            <i class="icon-users"></i>
            <span translate="user.header"></span>
        </h1>
        <small class="text-muted" translate="user.subheader"></small>
    </div>

</div>

<div class="wrapper-md">
    <div loading-container="tableParams.settings().$loading">

        <a class="btn btn-default pull-right" target="_blank" type="button"
           href="api/listing_reserves/downloadedReservesPdfTotal" title="Download">
            <span class="glyphicon glyphicon-download"></span> Reservas realizadas (PDF)
        </a>

        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">

            <tr ng-repeat="user in $data">
                <td ng-bind="user.email" title="'user.email'|translate" filter="{email:'filter/email.html'}"></td>
                <td ng-bind="user.first_name+' '+user.last_name" title="'user.full_name'|translate" filter="{name:'filter/name.html'}"></td>
                <td ng-bind="user.country.name" title="'user.country_code'|translate" filter="{country_code:'filter/country_code.html'}" class="col-xs-2"></td>
                <td ng-bind="user.role" title="'user.role'|translate" filter="{role:'filter/role.html'}" class="col-xs-1"></td>
                <td title="'user.verification_id_status'|translate" filter="{verification_id_status:'filter/verification.html'}">
                    <a ng-if="user.role=='owner'" ng-click="verification(user)" uib-tooltip="{{'user.verification.modal'|translate}}" class="btn btn-default">
                        <span translate="user.verification.{{user.verification_id_status}}"></span>
                        (<span translate="user.verification_document.{{user.file_id_type}}"></span>)
                    </a>
                </td>

                <td class="text-center">
                    <a ng-click="details(user)" tooltip-placement="top" uib-tooltip="{{'user.btn_details'|translate}}">
                        <i class="icon-magnifier-add"></i>
                    </a>
                    <a ng-click="edit(user)" tooltip-placement="top" uib-tooltip="{{'user.btn_edit'|translate}}">
                        <i class="icon-note"></i>
                    </a>
                    <a ng-click="password(user)" tooltip-placement="top" uib-tooltip="{{'user.btn_password'|translate}}">
                        <i class="icon-lock"></i>
                    </a>
                    <a ng-click="playSales(user)"  ng-show="user.stop_sales == '1'" tooltip-placement="left" uib-tooltip="{{'user.play_sales.btn'|translate}}">
                        <i class="icon-control-play"></i>
                    </a>
                    <a ng-click="stopSales(user)" ng-show="user.stop_sales == '0'" tooltip-placement="left" uib-tooltip="{{'user.stop_sales.btn'|translate}}">
                        <i class="icon-ban"></i>
                    </a>
                    <a ng-click="delete(user)" tooltip-placement="left" uib-tooltip="{{'user.btn_delete'|translate}}">
                        <i class="icon-trash"></i>
                    </a>
                    <a target="_blank" tooltip-placement="left" href="http://www.atuhotel.com/api/listing_reserves/downloadedReservesPdf/{{selectLang}}/{{user.id}}/{{user.role}}" uib-tooltip="PDF">
                        <i class="glyphicon glyphicon-download"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/ng-template" id="filter/email.html">
    <input type="text" name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="{{'user.filter.email'|translate}}"/>
</script>

<script type="text/ng-template" id="filter/name.html">
    <input type="text" name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="{{'user.filter.full_name'|translate}}"/>
</script>

<script type="text/ng-template" id="filter/country_code.html">
    <select name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control" ng-options="c.code as c.name for c in countries">
        <option value="">{{'user.filter.country'|translate}}</option>
    </select>
</script>
<script type="text/ng-template" id="filter/role.html">
    <select name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control">
        <option value="">{{'user.filter.role'|translate}}</option>
        <option value="client">{{'user.roles.client'|translate}}</option>
        <option value="owner">{{'user.roles.owner'|translate}}</option>
        <option value="admin">{{'user.roles.admin'|translate}}</option>
    </select>
</script>
<script type="text/ng-template" id="filter/verification.html">
    <select name="{{name}}" ng-model="params.filter()[name]" class="input-filter form-control">
        <option value="">{{'user.filter.verification_id_status'|translate}}</option>
        <option value="pending">{{'user.verification.pending'|translate}}</option>
        <option value="waiting">{{'user.verification.waiting'|translate}}</option>
        <option value="refuted">{{'user.verification.refuted'|translate}}</option>
        <option value="approved">{{'user.verification.approved'|translate}}</option>
    </select>
</script>
