<div>
    <!-- header -->
    <div class="bg-light lter b-b wrapper-md">
        <div class="row padder">
            <div class="btn-toolbar pull-right">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control" ng-model="tableUsers.filter()['country']" ng-options="c.id as c.name for c in countries">
                            <option value="">{{'user.placeholder_country'|translate}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control col-md-4" ng-model="tableUsers.filter()['city']" ng-options="c.id as c.name for c in cities">
                            <option value="">{{'user.placeholder_city'|translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="m-n font-thin h3 text-black">
                    <i class="icon-users"></i>
                    <span translate="user.header"></span>
                </h1>
                <small class="text-muted" translate="user.subheader"></small>
            </div>
        </div>

    </div>

    <table ng-table="tableUsers" template-pagination="custom/pager_post" style="width: 100%">
        <thead></thead>
        <tr ng-class="'slide-right'">
            <td>
                <div class="row row-sm m-b-xs m-t-xs m-l-xs m-r-xs">
                    <div class="col-lg-3 col-sm-6" ng-repeat="user in $data" style="height:280px" ng-controller="FriendsCtr">
                        <ng-include src="'site/src/views/app/users/box.html'" onload="" autoscroll=""></ng-include>
                    </div>

                </div>
            </td>
        </tr>
    </table>

    <!-- / header -->
    <script type="text/ng-template" id="custom/pager_post">
        <ul class="pager ng-cloak padder-v " style="margin: 0;">
            <li ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="" style="margin-left: 15px">
                    <i class="fa fa-angle-double-left"></i>
                    {{'common.btn_previous'|translate}}
                </a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="" style="margin-right: 15px">
                    {{'common.btn_next'|translate}}
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </script>
</div>
