<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h4 class="modal-title">
        <i class="icon-lock"></i>
        <span translate="user.password.header"></span>
    </h4>
</div>

<div class="modal-body">

    <form ng-submit="save()" ax-form-valid="" novalidate>

        <div class="form-group">
            <label class="control-label" translate="user.password.new_password"></label>

            <div class="has-feedback">
                <input type="password" ng-model="data.password" placeholder="{{'user.password.new_password'|translate}}" class="form-control" required ax-valid>
                <span class="icon-lock form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="user.password.confirm_password"></label>

            <div class=" has-feedback">
                <input type="password" ng-model="data.confirm_password" placeholder="{{'user.password.confirm_password'|translate}}" class="form-control" required ax-valid>
                <span class="icon-lock form-control-feedback"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <button type="submit" class="btn btn-lg btn-default dker b-dark pull-right">
                    <i class="icon-check"></i>
                    <span translate="common.btn_accept"></span>
                </button>
            </div>
        </div>
    </form>
</div>
