<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h4 class="modal-title">
        <i class="icon-picture"></i>
        <span translate="user.verification.header"></span>
    </h4>
</div>

<div class="modal-body">

    <form ng-submit="save()" ax-form-valid="" novalidate>

        <div class="form-group text-center">
            <div class="has-feedback">
                <label class="i-checks m-t-sm">
                    <input type="radio" ng-disabled="true" ng-model="data.file_id_type" ng-value="'dni'">
                    <i></i>
                    {{'access.file_id_type_dni'|translate}}
                </label>
                <label class="i-checks">
                    <input type="radio" ng-disabled="true" ng-model="data.file_id_type" ng-value="'passport'">
                    <i></i>
                    {{'access.file_id_type_passport'|translate}}
                </label>
            </div>
        </div>
        <div class="form-group text-center ">
            <img class="img-full b b-1x b-dark r r-2x" ng-src="{{data.image_dni}}" style="min-height:80px"/>
        </div>

        <div class="form-group text-center" ng-if="true">

            <div class="has-feedback">
                <label class="i-checks m-t-sm">
                    <input type="radio"  ng-model="data.verification_id_status" ng-value="'pending'">
                    <i></i>
                    {{'user.verification.pending'|translate}}
                </label>
                <label class="i-checks m-t-sm">
                    <input type="radio"  ng-model="data.verification_id_status" ng-value="'waiting'">
                    <i></i>
                    {{'user.verification.waiting'|translate}}
                </label>
                <label class="i-checks m-t-sm">
                    <input type="radio"  ng-model="data.verification_id_status" ng-value="'refuted'">
                    <i></i>
                    {{'user.verification.refuted'|translate}}
                </label>
                <label class="i-checks m-t-sm">
                    <input type="radio"  ng-model="data.verification_id_status" ng-value="'approved'">
                    <i></i>
                    {{'user.verification.approved'|translate}}
                </label>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 form-group">
                <button type="submit" class="btn btn-lg btn-default dker b-dark pull-right" >
                    <i class="icon-check"></i>
                    <span translate="common.btn_accept"></span>
                </button>
            </div>
        </div>
    </form>
</div>
