<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h3 class="modal-title">
        <i class="icon-calendar"></i>
        <span translate="listing_reserve.details.header"></span>
    </h3>
</div>

<div>

    <div class="modal-body" data-ng-show="optionUpdate==1">
        <div class="row">
            <div class="col-sm-7">
                <div class="">
                    <strong translate="listing_reserve.amount_total"></strong>
                    <span ng-bind="(reserve.price  |number) + '€'"></span>
                </div>
                <div class="">
                    <strong translate="listing_reserve.termns"></strong>
                    <p ng-bind="reserve.listing.owner.termns"></p>
                </div>
                <div class="">
                    <!-- <strong translate="listing_reserve.amount_provider"></strong>
                    <span ng-bind="reserve.amount_provider|number"></span>
                    <span translate="commmon.euro"></span>
                    <span>* (10%)</span>
                    <span translate="common.of_total"></span>


                    <span>
                         <span>-</span>
                         <span ng-bind="reserve.amount_salved"></span>
                         <span translate="common.euro"></span>
                    </span>

                    <span ng-if="reserve.is_flexible == 1">
                        +2
                        <span translate="listing_reserve.by_is_flexible" ></span>
                        <i class="icon-info" uib-tooltip="{{'listing_reserve.flexible_description'|translate}}"></i>
                    </span>
                    <span>
                      = <span ng-bind="reserve.amount_to_pay"></span>
                    </span> -->
                    <div class="hidden">
                        <strong translate="listing_reserve.amount_provider"></strong>
                        <span ng-bind="reserve.price|number"></span>
                        <span translate="common.euro"></span>
                        <i class="icon-info"
                           uib-tooltip="{{'listing_reserve.amount_provider_description'|translate}}"></i>
                    <span ng-if="reserve.amount_salved > 0">
                        -
                        <span ng-bind="reserve.amount_salved|number:2"></span>
                        <span translate="common.euro"></span>
                        <i class="icon-info" uib-tooltip="{{'listing_reserve.amount_salved'|translate}}"></i>
                    </span>
                    <span ng-if="reserve.is_flexible == 1">
                        +2
                        <span translate="common.euro"></span>
                        <!-- <span translate="listing_reserve.by_is_flexible"></span> -->
                        <i class="icon-info" uib-tooltip="{{'listing_reserve.flexible_description'|translate}}"></i>
                    </span>
                        <strong ng-if="reserve.is_flexible == 1 || reserve.amount_salved">
                            =
                            <span ng-bind="reserve.amount_to_pay|number"></span>
                            <span translate="common.euro"></span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="">
                    <strong>{{"listing_reserve.created_at"|translate}}:</strong>
                    <i class="icon-calendar"></i>
                    <span ng-bind="reserve.created_at|amDateFormat:dateOptions.shortFormat"></span>
                </div>
                <div class="">
                    <strong>{{"listing_reserve.start_date"|translate}}:</strong>
                    <i class="icon-calendar"></i>
                    <span ng-bind="reserve.start_date|amDateFormat:dateOptions.shortFormat"></span>
                </div>
                <div class="">
                    <strong>{{"listing_reserve.end_date"|translate}}:</strong>
                    <i class="icon-calendar"></i>
                    <span ng-bind="reserve.end_date| amDateFormat:dateOptions.shortFormat"></span>
                </div>
            </div>
        </div>

        <hr>
        <div class="">
            <h3>
                <i class="icon-home"></i>
                <span translate="listing.details.header"></span>
            </h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="">
                        <strong>
                            <i class="fa  fa-map-marker"></i>
                            <span translate="listing.location"></span>:
                        </strong>
                        <span ng-bind="reserve.listing.country.name +','+reserve.listing.city"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="fa  fa-home"></i>
                            <span translate="listing.hotel_name"></span>:
                        </strong>
                        <span ng-bind="reserve.listing.owner.hotel_name"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="">
                        <strong>
                            <i class="icon.user"></i>
                            <span translate="listing.owner"></span>:
                        </strong>
                        <span ng-bind="reserve.listing.owner.first_name +','+reserve.listing.owner.last_name"></span>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a ui-sref="app.listings_details({id:reserve.listing_id})" ng-click="close()">
                    <i class="icon-magnifier-add"></i>
                    <span translate="listing_reserve.btn_details"></span>
                </a>
            </div>
        </div>

        <div class="">
            <h3>
                <i class="icon-user"></i>
                <span translate="listing_reserve.details.client_header"></span>
            </h3>
            <div class="row">
                <div class="col-sm-6">
                    <div class="">
                        <strong>
                            <i class="icon-tag"></i>
                            <span translate="listing_reserve.client_name"></span>:
                        </strong>
                        <span ng-bind="reserve.client_first_name +' '+reserve.client_last_name"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="icon-envelope"></i>
                            <span translate="listing_reserve.client_email"></span>:
                        </strong>
                        <span ng-bind="reserve.client_email"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="icon-crop"></i>
                            <span translate="listing_reserve.account_number"></span>:
                        </strong>
                        <span ng-bind="reserve.account_number"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="icon-calendar"></i>
                            <span translate="listing_reserve.account_expire"></span>:
                        </strong>
                        <span translate="common.date.calendar.months.{{reserve.account_month_expire}}"></span>
                        <span ng-bind="reserve.account_year_expire"></span>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="">
                        <strong>
                            <i class="icon-screen-smartphone"></i>
                            <span translate="listing_reserve.client_phone"></span>:
                        </strong>
                        <span ng-bind="reserve.client_phone"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="icon-pin"></i>
                            <span translate="listing_reserve.client_city"></span>:
                        </strong>
                        <span ng-bind="reserve.client_city"></span>
                    </div>
                    <div class="">
                        <strong>
                            <i class="icon-shield"></i>
                            <span translate="listing_reserve.client_reason"></span>:
                        </strong>
                        <span translate="listing_reserve.client_reason_{{reserve.client_reason}}"></span>
                    </div>
                </div>
            </div>

            <div class="text" ng-show="data.client_special_request">
                <strong>
                    <i class="icon-tag"></i>
                    <span translate="listing_reserve.client_special_request"></span>:
                </strong>
                <p ng-bind="data.client_special_request"></p>
            </div>

        </div>
        <hr>
        <div class="row">

            <div class="col-sm-6" ng-show="reserve.ask_review == '0' && filter_user == 'owner'">
                <button type="button" class="btn btn-lg btn-default dker btn-block"
                        ng-click="askReview(reserve.id) && close()">
                    <i class="icon-star"></i>
                    <span translate="listing_reserve.btn_ask_review"></span>
                </button>
            </div>
            <div class="col-sm-6" ng-show="reserve.status == 'confirmed' && filter_user == 'client'">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="cancel()"
                        uib-tooltip="{{reserve.is_flexible_cancellable ? ('listing_reserve.is_flexible_description'|translate) : ''}}">
                    <i class="icon-ban"></i>
                    <span translate="listing_reserve.btn_cancel"></span>
                </button>
            </div>
            <div class="col-sm-6"
                 ng-show="(reserve.status == 'started' && filter_user == 'owner') || reserve.status == 'created'">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="cancel()"
                        uib-tooltip="{{reserve.is_flexible_cancellable ? ('listing_reserve.is_flexible_description'|translate) : ''}}">
                    <i class="icon-ban"></i>
                    <span translate="listing_reserve.btn_cancel"></span>
                </button>
            </div>
            <div class="col-sm-6" ng-show="reserve.status == 'created' && filter_user == 'owner'">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="confirm()"
                        uib-tooltip="{{reserve.is_flexible_cancellable ? ('listing_reserve.is_flexible_description'|translate) : ''}}">
                    <i class="icon-ban"></i>
                    <span translate="listing_reserve.btn_confirmed"></span>
                </button>
            </div>

            <div class="col-sm-6" ng-show="reserve.status == 'started' && filter_user == 'owner'">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="finish()"
                        uib-tooltip="{{reserve.is_flexible_cancellable ? ('listing_reserve.is_flexible_description'|translate) : ''}}">
                    <i class="icon-ban"></i>
                    <span translate="listing_reserve.btn_finish"></span>
                </button>
            </div>

            <div class="col-sm-6" ng-show="reserve.status == 'confirmed' && filter_user == 'owner'">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="start()"
                        uib-tooltip="{{reserve.is_flexible_cancellable ? ('listing_reserve.is_flexible_description'|translate) : ''}}">
                    <i class="icon-ban"></i>
                    <span translate="listing_reserve.btn_started"></span>
                </button>
            </div>

            <div class="col-sm-6">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="close()">
                    <span translate="common.btn_close"></span>
                </button>
            </div>

            <div class="col-sm-6" ng-show="filter_user == 'client' && reserve.status=='created'">
                <button type="button" class="btn btn-lg btn-default btn-block" ng-click="optionUpdate=2">
                    <i class="icon-note"></i>
                    <span translate="common.btn_edit"></span>
                </button>
            </div>
        </div>

    </div>

    <div class="modal-body" data-ng-show="optionUpdate==2">

        <form ng-submit="makeAction()" ax-form-valid="" novalidate>

            <div data-ng-include="'site/src/views/app/listings/reserve/update.html'"></div>

            <hr>
            <div class="row">

                <div class="col-sm-4" data-ng-show="step==1">
                    <button type="button" class="btn btn-lg btn-default dker btn-block"
                            ng-click="info()">
                        <i class="icon-arrow-left"></i>
                        <span translate="common.btn_back"></span>
                    </button>
                </div>

                <div class="col-sm-4" data-ng-show="step!=1">
                    <button type="button" class="btn btn-lg btn-default dker btn-block" data-ng-click="SetStep(false)">
                        <i class="icon-arrow-left"></i>
                        <span translate="common.btn_back"></span>
                    </button>
                </div>

                <div class="col-sm-4" data-ng-show="step==3">
                    <button type="submit" class="btn btn-lg btn-default btn-block">
                        <i class="icon-note"></i>
                        <span translate="common.btn_save"></span>
                    </button>
                </div>

                <div class="col-sm-4" data-ng-show="step!=3">
                    <button type="button" class="btn btn-lg btn-default dker b-dark btn-block"
                            data-ng-click="SetStep(true)">
                        <span translate="listing_reserve.btn_next"></span>
                        <i class="icon-arrow-right"></i>
                    </button>
                </div>


                <div class="col-sm-4">
                    <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="close()">
                        <span translate="common.btn_close"></span>
                    </button>
                </div>

            </div>
        </form>
    </div>

</div>