<span id="langdate" hidden="hidden">{{selectLang}}</span>

<div class="m-t">
    <h3>
        <i class="icon-grid"></i>
        <span translate="listing_reserve.list.header"></span>
    </h3>
</div>
<span class="clearfix"></span>
<hr>
<div>
    <div class="row">
        <div class="col-ms-12 col-md-9">
            <div class="radio" ng-if="Auth.get().role == 'owner'">
                <label class="i-checks">
                    <input type="radio" name="filter" ng-model="filter_user" ng-value="'owner'"
                           ng-click="onChangeReserveView('owner')">
                    <i></i>
                    {{'listing_reserve.filter_owner'|translate}}
                </label>

            </div>
            <div class="radio">
                <label class="i-checks">
                    <input type="radio" name="filter" ng-model="filter_user" ng-value="'client'"
                           ng-click="onChangeReserveView('client')">
                    <i></i>
                    {{'listing_reserve.filter_client'|translate}}
                </label>
            </div>
        </div>
        <!--<div class="col-ms-12 col-md-3">-->

            <!--<a class="btn btn-default pull-right" target="_blank" type="button"-->
               <!--href="api/listing_reserves/downloadedReservesPdf/{{selectLang}}/{{Auth.get().id}}/{{filter_user}}"-->
               <!--title="Download">-->
                <!--<span class="glyphicon glyphicon-download"></span> PDF-->
            <!--</a>-->

        <!--</div>-->
    </div>
</div>
<br>
<div ui-calendar="uiConfig.calendar" class="col-xs-12 calendar" ng-model="eventSources" calendar="calendar"></div>
<hr>