<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h3 class="modal-title">
        <i class="icon-calendar"></i>
        <span translate="listing_reserve.insert.header"></span>
    </h3>
</div>

<div class="modal-body" style="padding-top: 0">

    <form ng-submit="makeAction()" ax-form-valid="" novalidate>
        <div ng-show="view == 1">
           <div class="row" > 
             <div class="col-sm-6">

                <div class="">
                    <label translate="listing_reserve.period" style="margin-bottom:0"></label>
                    <select class="form-control" ng-model="data.period" ng-options="p.code as p.text for p in periods"
                            ng-change="loadEndDate()" required ax-valid>
                        <option value="" selected="">{{'listing_reserve.period'|translate}}</option>
                    </select>
                </div>
                <div class="">
                    <label translate="listing_reserve.count_persons" style="margin-bottom:0"></label>
                    <select class="form-control" ng-model="data.count_persons"
                            ng-options="p.code as p.text for p in huespeds" required ax-valid>
                        <option value="" selected="">{{'listing_reserve.count_persons'|translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label class="i-checks">
                            <input type="checkbox" name="price_type" ng-model="data.childs">
                            <i></i>
                            {{'listing_reserve.childs'|translate}}
                        </label>
                        <i class=" icon-info hidden"
                           uib-tooltip="{{'listing_reserve.child_description'|translate}}"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <span translate="listing_reserve.start_date"></span>
                    <div class="has-feedback">
                        <datepicker date-format="{{dateOptions.datepickerShort}}"
                                    date-min-limit="{{dateOptions.today}}" date-disabled-dates="{{listing.disabled_dates}}">
                            <input ng-model="data.start_date" ng-change="loadEndDate()" readonly
                                   placeholder="{{'listing_reserve.start_date'|translate}}" type="text"
                                   class="input-filter form-control" required ax-valid/>
                        </datepicker>

                        <span class="icon-calendar form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <span translate="listing_reserve.end_date"></span>
                    <div class="has-feedback">
                        <input type="text" ng-model="data.end_date" class="form-control" disabled=""
                               placeholder="{{'listing_reserve.end_date'|translate}}">
                        <span class="icon-calendar form-control-feedback"></span>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" ng-show="data.childs || data.count_persons >= 3">
                <div class="col-xs-12">
                   <h3 translate="listing_reserve.extra_general_header"></h3>
                   <p translate="listing_reserve.extra_general_details"></p>
                </div>
            </div>
        </div>
        
        <div ng-show="view==2">
            <h4>
                <i class="icon-user"></i>
                <span translate="listing_reserve.client_info"> </span>
            </h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" class="form-control"
                                   placeholder="{{'listing_reserve.client_first_name'|translate}}"
                                   ng-model="data.client_first_name" ng-required="view==2" ax-valid>
                            <span class="icon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" class="form-control"
                                   placeholder="{{'listing_reserve.client_last_name'|translate}}"
                                   ng-model="data.client_last_name" ng-required="view==2" ax-valid>
                            <span class="icon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="email" class="form-control"
                                   placeholder="{{'listing_reserve.client_email'|translate}}"
                                   ng-model="data.client_email" ng-required="view==2" ax-valid>
                            <span class="icon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" class="form-control"
                                   placeholder="{{'listing_reserve.client_city'|translate}}"
                                   ng-model="data.client_city" ng-required="view==2" ax-valid>
                            <span class="icon-globe form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" class="form-control"
                                   placeholder="{{'listing_reserve.client_phone'|translate}}"
                                   ng-model="data.client_phone" ng-required="view==2" ax-valid>
                            <span class="icon-mobile-phone form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong translate="listing_reserve.client_reason"></strong>
                </div>
                <div class="radio col-xs-12">
                    <label class="i-checks">
                        <input type="radio" name="rason" value="leisure" ng-model="data.client_reason">
                        <i></i>
                        {{'listing_reserve.client_reason_leisure'|translate}}
                    </label>
                    <label class="i-checks">
                        <input type="radio" name="rason" value="work" ng-model="data.client_reason">
                        <i></i>
                        {{'listing_reserve.client_reason_work'|translate}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5 translate="listing_reserve.about_it"></h5>
                    <textarea class="form-control" placeholder="{{'listing_reserve.client_special_request'|translate}}" ng-model="data.client_special_request"></textarea>
                </div>
            </div>
        </div>
        <div class="" ng-show="view == 3">
            <h3>
                <i class="fa fa-check"></i>
                <span translate="listing_reserve.introduce_info"></span>
            </h3>
            <h4 class="">
                <i class="icon-info"></i>
                <span translate="listing_reserve.complete_payment_not_card_subheader" uib-popover="{{'listing_reserve.complete_payment_not_card_details'|translate}}" popover-title="{{'listing_reserve.complete_payment_not_card'|translate}}" popover-placement="bottom"></span>
            </h4>
            <hr>
            <div class="row" style="font-size: 20px">
                <div class="col-xs-12 ">
                    <strong translate="listing_reserve.amount_total"></strong>
                    <span ng-bind="(data.price * data.period   |number) + '€'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4  has-feedback">
                    <label class="control-label" translate="listing_reserve.account_number"></label>
                </div>
                <div class="col-sm-8  has-feedback">
                    <input type="text" placeholder="{{'listing_reserve.account_number'|translate}}"
                           class="form-control" ng-model="data.account_number"
                           ng-required="view==3" ax-valid="">
                    <span class="icon-frame form-control-feedback" style=" right: 20px;"></span>
                </div>
            </div>
            <div class="row m-t-xxs m-b-sm">
                <div class="col-sm-offset-4">
                    <span class=" label label-success" translate="listing_reserve.account_number_necesary"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4  has-feedback">
                    <label class="control-label" translate="listing_reserve.account_expire"></label>
                </div>
                <div class="col-sm-4  has-feedback">
                    <select class="form-control" ng-model="data.account_month_expire" ng-options="p.code as p.text for p in months"
                             ng-required="view==3" ax-valid>
                        <option value="" selected="">{{'listing_reserve.account_month_expire'|translate}}</option>
                    </select>
                </div>
                <div class="col-sm-4  has-feedback">
                    <select class="form-control" ng-model="data.account_year_expire" ng-options="p for p in years"
                             ng-required="view==3" ax-valid>
                        <option value="" selected="">{{'listing_reserve.account_year_expire'|translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <strong translate="listing_reserve.cvs_code"></strong><br>
                    <span translate="listing_reserve.cvs_code_none"></span>
                </div>
            </div>


            <hr>
            <div class="" ng-if="data.count_persons > 3">
                <p translate="listing_reserve.extra_persons_info"></p>
                <p translate="listing_reserve.extra_child_age_info"></p>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <span translate="listing_reserve.text_cond1"></span>
                    <a class="text-info-dker" translate="listing_reserve.text_cond2" uib-popover="{{data.listing.owner.termns}}"  popover-placement="top"></a>,
                    <a class="text-info-dker" translate="listing_reserve.text_cond3" ng-click="conditionsGeneral()"></a> 
                    <a class="text-info-dker" translate="listing_reserve.text_cond4" ng-click="privacity()"></a>
                </div>
            </div>
        </div>


        <hr class="clearfix">

        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-lg btn-default dker btn-block" ng-click="view=view-1"
                        ng-show="view != 1">
                    <i class="icon-arrow-left"></i>
                    <span translate="listing_reserve.btn_prev"></span>
                </button>
            </div>
            <div class="col-sm-6">

                <button type="submit" type="button"
                        class="btn btn-lg btn-default dker b-dark btn-block">
                    <span translate="listing_reserve.btn_payment" ng-show="view == 3"></span>
                    <span translate="listing_reserve.btn_next" ng-show="view != 3"></span>
                    <i class="icon-check" ng-show="view == 3"></i>
                    <i class="icon-arrow-right" ng-show="view != 3"></i>
                </button>
            </div>
        </div>
    </form>

</div>
