
<div class="row wrapper">
    <div class="col-sm-12 ">
        <form class="form-horizontal form-validation" novalidate ax-form-valid="" ng-submit="save()">
            <div class="row">
                 <div class="col-md-10 col-sm-12  col-md-offset-1">
                    <div uib-alert ng-class="'alert-warning'" ng-if="data.not_verificated">
                        <i class="icon-info"></i>
                        <span translate="access.profile.info.msg_owner_unverificated"></span>
                        <div class="text-center m-t-xs">
                            <button ng-click="resendConfirmation()" class="btn btn-app" type="button">
                                <i class=" icon-envelope-open"></i>
                                <span translate="access.profile.info.btn_resend_email"></span>
                            </button>
                        </div>
                    </div>

                    <div ng-show="data.role == 'owner'">
                        <div uib-alert ng-class="'alert-info'" ng-if="data.verification_id_status == '' || data.verification_id_status=='pending'">
                            <i class="fa  fa-paperclip"></i>
                            <span translate="access.profile.verification.verification_id_status_pending"></span>
                        </div>
                        <div uib-alert ng-class="'alert-warning'" ng-if="data.verification_id_status=='waiting'">
                            <i class="icon-hourglass"></i>
                            <span translate="access.profile.verification.verification_id_status_waiting"></span>
                        </div>
                        <div uib-alert ng-class="'alert-danger'" ng-if="data.verification_id_status=='refuted'">
                            <i class=" icon-ban"></i>
                            <span translate="access.profile.verification.verification_id_status_refuted"></span>
                        </div>
                        <div uib-alert ng-class="'alert-success'" ng-if="false && data.verification_id_status=='approved'">
                            <i class=" icon-check"></i>
                            <span translate="access.profile.verification.verification_id_status_approved"></span>
                        </div>
                    </div>


                    <div uib-alert ng-class="'alert-info'" ng-if="data.role == 'client' && data.is_editable ">
                        <i class="icon-info"></i>
                        <span translate="access.profile.info.convert_propietary"></span>
                        <div class="text-center m-t-xs">
                            <button ng-click="convertToOwner()" class="btn btn-app" type="button">
                                <i class=" icon-home"></i>
                                <span translate="access.profile.info.btn_activate_owner"></span>
                            </button>
                        </div>
                    </div>


                    <div uib-alert ng-class="'alert-warning'" ng-if="data.is_editable && data.role=='owner' && data.stop_sales == 1 && data.verification_id_status == 'approved'">
                        <div class="text-center m-t-xs">
                            <button ng-click="playSales()" class="btn btn-app" type="button">
                                <i class=" icon-envelope-open"></i>
                                <span translate="access.profile.play_sales.btn"></span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_email"></label>
                       
                        <div class="col-sm-8 has-feedback">
                            <input type="email" ng-model="data.email" placeholder="{{'access.label_email'|translate}}" class="form-control" required
                                   ax-valid="" ng-readonly="!data.is_editable">
                            <span class="icon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                    <!--<div class="form-group" ng-show="data.role=='owner'">
                        <label class="col-sm-4 control-label" translate="access.label_bank_account_id"></label>
                        <div class="col-sm-8  has-feedback">
                            <select ng-model="data.bank_account_id" class="form-control" ng-options="b.id as b.name for b in banks" ng-required="data.role == 'owner'" ax-valid>
                                <option value="">{{'access.label_bank_account_id'|translate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="data.role=='owner'">
                        <label class="col-sm-4 control-label" translate="access.label_bank_account_number"></label>
                        <div class="col-sm-8  has-feedback">
                            <input type="text" placeholder="{{'access.label_bank_account_number'|translate}}"  class="form-control" ng-model="data.bank_account_number"
                                   ng-required="data.role=='owner'" ax-valid="">
                            <span class="icon-frame form-control-feedback"></span>
                        </div>
                    </div>-->
                    <div class="form-group" ng-show="data.role=='client'">
                        <label class="col-sm-4 control-label" translate="access.label_dni"></label>

                        <div class="col-sm-8 has-feedback">
                            <input type="text" ng-model="data.dni" placeholder="{{'access.label_dni'|translate}}" class="form-control" ng-required="data.role=='client'" ax-valid=""
                                   ng-readonly="!data.is_editable">
                            <span class=" icon-pin form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group" ng-if="data.is_editable">
                        <label class="col-sm-4 control-label" translate="access.label_profile_img"></label>

                        <div class="col-sm-8">
                            <div class="btn btn-default" ngf-select="uploadFiles($file, $invalidFiles)" ngf-pattern="'image/*'" ngf-max-height="1000"
                                 ngf-max-size="1MB">
                                <i class="icon-picture"></i>
                                <span translate="access.profile.info.upload_image"></span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_first_name"></label>

                        <div class="col-sm-8 has-feedback">
                            <input type="text" ng-model="data.first_name" placeholder="{{'access.label_first_name'|translate}}" class="form-control"
                                   required ax-valid="" ng-readonly="!data.is_editable">
                            <span class="icon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_last_name"></label>

                        <div class="col-sm-8 has-feedback">
                            <input type="text" ng-model="data.last_name" placeholder="{{'access.label_last_name'|translate}}" class="form-control" required
                                   ax-valid="" ng-readonly="!data.is_editable">
                            <span class="icon-pencil form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_phone"></label>

                        <div class="col-sm-8 has-feedback">
                            <input type="text" ng-model="data.phone" ui-br-phone-number placeholder="{{'access.label_phone'|translate}}" class="form-control"
                                   required ax-valid="" ng-readonly="!data.is_editable">
                            <span class="icon-call-end form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_phone_emergency"></label>

                        <div class="col-sm-8 has-feedback">
                            <input type="text" ng-model="data.phone_emergency" ui-br-phone-number placeholder="{{'access.label_phone_emergency'|translate}}"
                                   class="form-control" required ax-valid="" ng-readonly="!data.is_editable">
                            <span class="icon-call-in form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.label_about_me"></label>

                        <div class="col-sm-8 has-feedback">
                            <textarea class="form-control" ng-model="data.about_me" ng-readonly="!data.is_editable" ng-trim="false" placeholder="{{'access.label_about_me'|translate}}"></textarea>
                        </div>
                    </div>
                    <div ng-if="data.is_editable">
                        <hr>
                        <h5 class="text-info-dker">
                            <i class="icon-info"></i>
                            <span translate="access.profile.info.password_edit_info"></span>
                        </h5>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate="access.profile.info.new_password"></label>

                            <div class="col-sm-8 has-feedback">
                                <input type="password" ng-model="data.password" placeholder="{{'access.profile.info.new_password'|translate}}" class="form-control">
                                <span class="icon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" translate="access.profile.info.confirm_password"></label>

                            <div class="col-sm-8 has-feedback">
                                <input type="password" ng-model="data.confirm_password" placeholder="{{'access.profile.info.confirm_password'|translate}}"
                                       class="form-control">
                                <span class="icon-lock form-control-feedback"></span>
                            </div>
                        </div>


                        <hr>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-danger pull-left" ng-click="remove()">
                                    <i class=" icon-close"></i>
                                    <span translate="access.profile.delete.btn"></span>
                                </button>
                                <button type="submit" class="btn btn-default pull-right">
                                    <i class="icon-check"></i>
                                    <span translate="common.btn_save"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>