<div class="row wrapper">
    <div class="col-sm-12 ">
        <form class="form-horizontal form-validation" novalidate ax-form-valid="" ng-submit="save()">
            <div class="row">

                <div class="col-md-10 col-sm-12  col-md-offset-1">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>

                        <div class="col-sm-8">
                            <div uib-alert ng-class="'alert-info'" ng-if="data.verification_id_status == '' || data.verification_id_status=='pending'">
                                <i class="fa  fa-paperclip"></i>
                                <span translate="access.profile.verification.verification_id_status_pending"></span>
                            </div>
                            <div uib-alert ng-class="'alert-warning'" ng-if="data.verification_id_status=='waiting'">
                                <i class="icon-hourglass"></i>
                                <span translate="access.profile.verification.verification_id_status_waiting"></span>
                            </div>
                            <div uib-alert ng-class="'alert-danger'" ng-if="data.verification_id_status=='refuted'">
                                <i class=" icon-ban"></i>
                                <span translate="access.profile.verification.verification_id_status_refuted"></span>
                            </div>
                            <div uib-alert ng-class="'alert-success'" ng-if="data.verification_id_status=='approved'">
                                <i class=" icon-check"></i>
                                <span translate="access.profile.verification.verification_id_status_approved"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.file_id_type"></label>

                        <div class="col-sm-8 has-feedback">
                            <label class="i-checks m-t-sm">
                                <input type="radio" ng-model="data.file_id_type" ng-value="'dni'">
                                <i></i>
                                {{'access.file_id_type_dni'|translate}}
                            </label>
                            <label class="i-checks">
                                <input type="radio" ng-model="data.file_id_type" ng-value="'passport'">
                                <i></i>
                                {{'access.file_id_type_passport'|translate}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" translate="access.image_dni"></label>

                        <div class="col-sm-8 text-center">
                            <img class="img-full b b-1x b-dark r r-2x" ng-src="{{Auth.get().image_dni}}" style="min-height:80px"/>
                            <div class="btn btn-default m-t-sm" ngf-select="uploadFiles($file, $invalidFiles)" ngf-pattern="'image/*'" ngf-max-height="1000" ngf-max-size="1MB">
                                <i class="icon-picture"></i>
                                <span translate="access.profile.verification.upload_image"></span>
                            </div>
                            <uib-progressbar max="100" value="infoUpload.progress" class="m-t-xs" ng-show="infoUpload.progress > 0">
                                <span style="color:white; white-space:nowrap;" ng-show="infoUpload.completed ">
                                    <i class="fa fa-check-circle"></i>
                                    <span translate="access.profile.info.img_uploaded"></span>
                                </span>
                            </uib-progressbar>
                            <div class="">
                                <label class="error" ng-show="infoUpload.errorFile || infoUpload.errorMessage">
                                    <i class="fa fa-warning"></i>
                                    {{infoUpload.errorFile.name}}
                                    <span translate="message.validation.{{infoUpload.errorFile.$error}}" ng-if="infoUpload.errorFile.$error"></span>

                                    {{infoUpload.errorFile.$errorParam}}
                                    <span ng-bind-html="infoUpload.errorMessage"></span>
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
</div>
