<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row wrapper-md text-center">
        <div class="">
            <h1 class="m-n font-thin h3 text-black">
                <i class="icon-bulb"></i>
                <span translate="about_us.header"></span>
            </h1>
            <small class="text-muted" translate="about_us.subheader"></small>
        </div>
    </div>
</div>
<!-- / main header -->

<div class="wrapper-md">
    <p ng-bind-html="content.content" class="text-wrap">

    </p>
</div>
