<div class="aside-wrap">
    <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
    <div class="navi-rap">
        <!-- user -->
        <div class="clearfix hidden-xs text-center">
            <div class="dropdown wrapper" dropdown>
                <a ui-sref="app.profile.info({id:Auth.get().username})">
                    <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img ng-src="{{Auth.get().image}}" class="img-full" alt="...">
                    </span>
                </a>
                <a href class="dropdown-toggle hidden-folded" dropdown-toggle>
                    <span class="clear">
                        <span class="block m-t-sm">
                            <strong class="font-bold text-lt" ng-bind="Auth.get().first_name+' '+Auth.get().last_name"></strong>
                            <b class="caret"></b>
                        </span>
                    </span>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w hidden-folded">

                    <li>
                        <span class="arrow top hidden-folded arrow-info"></span>
                        <a ui-sref="app.profile.info({id:Auth.get().username})">
                            <i class="icon-user"></i>
                            <span translate="menu.header.user_profile.profile"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ui-sref="app.profile.friends({id:Auth.get().username})">
                            <i class="icon-users"></i>
                            <span translate="menu.header.user_profile.friends"></span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="Auth.logout()" href>
                            <i class="icon-logout"></i>
                            <span translate="menu.header.user_profile.logout"></span>
                        </a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </div>
            <div class="line dk hidden-folded"></div>
        </div>
        <!-- / user -->

        <!-- nav -->
        <nav ui-nav class="navi clearfix" ng-include="'site/src/views/blocks/nav.html'"></nav>
        <!-- nav -->
    </div>
</div>
