<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="menu.aside.navigation"></span>
    </li>
    <li class="">
        <a ui-sref="app.dashboard.content({key:'about_us'})" class="">
            <span class="pull-right text-muted" ng-if="false">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="icon-note icon text-primary-dker"></i>
            <span class="font-bold" translate="menu.aside.content.all"></span>
        </a>
        <ul class="nav dk">
            <li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'about_us'}">
                <a ui-sref="app.dashboard({key:'about_us'})">
                    <span translate="menu.aside.content.about_us"></span>
                </a>
            </li>
            <!--<li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'why_is_diferent'}">-->
                <!--<a ui-sref="app.dashboard.content({key:'why_is_diferent'})">-->
                    <!--<span translate="menu.aside.content.why_is_diferent"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'termns'}">-->
                <!--<a ui-sref="app.dashboard.content({key:'termns'})">-->
                    <!--<span translate="menu.aside.content.termns"></span>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'cookies'}">-->
                <!--<a ui-sref="app.dashboard.content({key:'cookies'})">-->
                    <!--<span translate="menu.aside.content.cookies"></span>-->
                <!--</a>-->
            <!--</li>-->
            <li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'signup_hotel'}">
                <a ui-sref="app.dashboard.content({key:'signup_hotel'})">
                    <span translate="menu.aside.content.signup_hotel"></span>
                </a>
            </li>
            <li ng-class="{'active':$state.includes('app.dashboard.content') && $state.params.key == 'privacity'}">
                <a ui-sref="app.dashboard.content({key:'privacity'})">
                    <span translate="menu.aside.content.privacity"></span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.faqs">
            <i class=" icon-support icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.faqs"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.coins">
            <i class="fa fa-euro  text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.coins"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.services">
            <i class=" icon-tag icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.services"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.users">
            <i class=" icon-user icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.users"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.listing_category">
            <i class="icon-magic-wand icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.listing_category"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.listing_type">
            <i class="icon-pin icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.listing_type"></span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard.listing">
            <i class="icon-home icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.listing"></span>
        </a>
    </li>
    <!--<li ui-sref-active="active">
        <a ui-sref="app.dashboard.bank">
            <i class="fa fa-bank icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.bank"></span>
        </a>
    </li>-->



</ul>
<!-- / list -->
