<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="menu.aside.navigation"></span>
    </li>
    <li class="">
        <a ui-sref="app.dashboard({post_type:''})" class="">
            <span class="pull-right text-muted" ng-if="false">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="icon-home icon text-primary-dker"></i>
            <span class="font-bold" translate="menu.aside.posts.all"></span>
        </a>
        <ul class="nav dk">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard({post_type:$translate.instant('post.post_type_url.home')})">
                    <span translate="menu.aside.posts.home"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard({post_type:$translate.instant('post.post_type_url.denounce')})">
                    <span translate="menu.aside.posts.reports"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard({post_type:$translate.instant('post.post_type_url.adopting')})">
                    <span translate="menu.aside.posts.adopting"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard({post_type:$translate.instant('post.post_type_url.losts')})">
                    <span translate="menu.aside.posts.lost_pets"></span>
                </a>
            </li>
        </ul>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.threads">
            <b class="badge bg-info pull-right" ng-bind="messages.newsCount"></b>
            <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
            <span class="font-bold" translate="menu.aside.messages">Email</span>
        </a>
    </li>

    <li class="line dk hidden-folded"></li>

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="menu.aside.profile"></span>
    </li>
    <li>
        <a href class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="icon-users icon text-success"></i>
            <span class="font-bold" translate="menu.aside.user_profile.header"></span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.profile.info({id:Auth.get().username})">
                    <span translate="menu.aside.user_profile.info"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile.pets({id:Auth.get().username})">
                    <span translate="menu.aside.user_profile.pets"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile.posts({id:Auth.get().username})">
                    <span translate="menu.aside.user_profile.posts"></span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.profile.friends({id:Auth.get().username})">
                    <span translate="menu.aside.user_profile.friends"></span>
                </a>
            </li>
        </ul>
    </li>

</ul>
<!-- / list -->
