<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row wrapper-md text-center">
        <div class="">
            <h1 class="m-n font-thin h3 text-black">
                <i class="fa fa-legal "></i>
                <span translate="footer.sections.legal_notice.header"></span>
            </h1>
            <!-- <small class="text-muted" translate="legal_terms.subheader"></small> -->
        </div>
    </div>
</div>
<!-- / main header -->

<div class="wrapper-md">
    <p  class="text-wrap">
      <p translate="footer.sections.legal_notice.content1"></p>
      <p translate="footer.sections.legal_notice.content2"></p>
      <p translate="footer.sections.legal_notice.content3"></p>
      <p translate="footer.sections.legal_notice.content4"></p>
    </p>
</div>
