<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row wrapper-md text-center">
        <div class="">
            <h1 class="m-n font-thin h3 text-black">
                <i class="icon-home"></i>
                <span translate="signup_hotel.header"></span>
            </h1>
            <small class="text-muted" translate="signup_hotel.subheader"></small>
        </div>
    </div>
</div>
<!-- / main header -->

<div ng-bind-html="content.content" class="container">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 d-flex justify-center">
            <a ng-click="showRegister()" class="btn btn-bg-red" translate="registrarse"></a>
        </div>
    </div>
</div>
