<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h3 class="modal-title">
        <i class="icon-lock"></i>
        <span translate="access.password.header"></span>
    </h3>
</div>

<div class="modal-body">
    <form  ng-submit="recover()" ax-form-valid="" novalidate>
        <div class="form-group">
            <div class=" has-feedback">
                <input type="text" placeholder="{{'access.label_email'|translate}}" class="form-control" ng-model="data.email" ng-required="true" ax-valid="">
                <span class="icon-user form-control-feedback"></span>
            </div>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-lg  btn-default dker b-dark btn-block">
                <i class="icon-check"></i>
                <span translate="access.password.btn_recover"></span>
            </button>
        </div>


    </form>
</div>
