<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row text-center">
        <div class="">
            <h1 class="m-n font-thin h3 text-black">
                <i class="icon-home"></i>
                <span translate="listing.details.header"></span>
            </h1>
            <small class="text-muted" translate="listing.details.subheader"></small>
        </div>
    </div>
</div>

<div class="wrapper-md m-t-xs custom-container">
    <div class="panel panel-default shadow">
        <div class="panel-heading">
            <div class="clearfix">
                <a href="" class="pull-left thumb-md avatar b-3x m-r">
                    <img ng-src="{{data.image_primary.path}}" alt="...">
                </a>
                <div class="clear">
                    <div class="h3 m-t-xs m-b-xs">
                        <span ng-bind="data.owner.hotel_name"></span>
                    </div>
                    <small class="text-muted">
                        <span translate="listing.details.country"></span>
                        <span ng-bind="data.country.name"></span>,
                        <span translate="listing.details.city"></span>
                        <span ng-bind="data.city"></span>
                    </small>
                </div>
            </div>

        </div>
        <div class="row m-sm">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading ">
                        <span>
                            <i class="icon-picture"></i>
                            <span translate="listing.details.images"></span>
                        </span>
                        <div class="price-bx price-bx-m">
                            <span translate="listing.price_day"></span>
                            <strong>
                                <span ng-bind="data.price"></span>
                                <span translate="common.euro"></span>
                            </strong>
                        </div>
                    </div>

                    <div uib-carousel interval="3000" active="0" class="b-a b-info m-xs" no-pause="true">
                        <div uib-slide ng-repeat="img in data.images" index="$index">

                            <img id="imagen_400" preload-image ng-src="{{img.path}}" default-image="site/img/no-img.jpg"
                                 fallback-image="site/img/no-img.jpg" style="margin:auto;max-height:400px;"
                                 class="img-full">
                            <div class="carousel-caption">
                                <h4></h4>
                                <p ng-bind="img.caption"></p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel panel-default">

                    <div class="panel-heading ">
                        <span>
                            <i class="icon-note"></i>
                            <span translate="listing.description"></span>
                        </span>
                    </div>
                    <div class="padder m-t-xs">
                        <p ng-bind-html="data.description"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <span>
                            <span translate="listing.details.reviews"></span>
                            <ax-rate ng-model="data.rating"></ax-rate>
                        </span>
                    </div>
                    <div class="panel-body" ui-jq="slimScroll" ui-options="{height:'350px', size:'8px'}">
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa icon-home fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>
                                    <span translate="listing.hotel_name"></span>
                                    <strong>
                                        <span ng-bind="data.owner.hotel_name"></span>
                                    </strong>
                                </p>
                            </div>
                        </article>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa icon-magic-wand fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>
                                    <strong style="color: #e0137f;">
                                        <span ng-bind="data.listing_category.name"></span>
                                        (<span ng-bind="data.listing_type.name"></span>)
                                    </strong>
                                </p>
                            </div>
                        </article>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa icon-star fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>
                                    <strong>
                                        <span ng-bind="data.owner.hotel_rating"></span>
                                        <span translate="common.starts"></span>
                                    </strong>
                                </p>
                            </div>
                        </article>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa icon-tag fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p>
                                    <span translate="listing.price_day"></span>
                                    <strong>
                                        <span ng-bind="data.price"></span>
                                        <span translate="common.euro"></span>
                                    </strong>
                                </p>
                            </div>
                        </article>
                        <article class="media hidden">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="icon-check fa-stack-2x" ng-if="data.is_verificated"></i>
                                    <i class="icon-ban fa-stack-2x" ng-if="!data.is_verificated"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <span ng-if="data.is_verificated" translate="listing.details.verificated"></span>
                                <span ng-if="!data.is_verificated" translate="listing.details.unverificated"></span>
                            </div>
                        </article>
                        <article class="media">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-calendar fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <span translate="listing.details.created_at"></span>
                                <span ng-bind="data.created_at| amDateFormat:dateOptions.shortFormat"></span>
                            </div>
                        </article>
                        <div class="line pull-in"></div>
                        <article class="media hidden">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class=" icon-users fa-stack-2x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <span translate="listing.details.capacity"></span>
                                <span ng-bind="data.capacity"></span>
                            </div>
                        </article>
                    </div>
                    <footer class="panel-footer">
                        <a
                                href="#"
                                class="btn btn-primary btn-lg hidden"
                                socialshare
                                socialshare-provider="facebook"
                                socialshare-type="feed"
                                socialshare-via="329593224040344"
                                socialshare-text="{{data.listing_type.name}}"
                                socialshare-description="{{data.description}}"
                                socialshare-url="http://atuhotel.com/listings/details/{{data.id}}">
                            <i class="icon-social-facebook"></i>
                            <span translate="listing.btn_shared"></span>
                        </a>
                        <a href="#" class="btn btn-danger btn-lg hidden" socialshare socialshare-provider="google"
                           socialshare-url="http://atuhotel.com/listings/details/{{data.id}}">
                            <i class="fa fa-google-plus"></i>
                            <span translate="listing.btn_shared"></span>
                        </a>

                        <hr ng-if="data.close_sales=='0'">
                        <a class="btn btn-app btn-lg btn-block" ng-click="listingReserve(data)"
                           ng-if="data.owner.stop_sales==0">
                            <i class="icon-check"></i>
                            <span translate="listing.btn_reserve"></span>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
        <div class="row m-sm">

            <uib-tabset class="tab-container">
                <uib-tab index="1">
                    <uib-tab-heading>
                        <i class=" icon-pin"></i>
                        <span translate="listing.tab_services"></span>
                    </uib-tab-heading>

                    <div class="row m-t">
                        <div class="col-sm-3  m-t-xs" ng-repeat="service in services"
                             ng-style="{'opacity':!data.services[service.id] && 0.5}">
                            <label class="-checks m-t-sm" style="font-size:18px">
                                <!-- <input type="checkbox" ng-model="data.services[service.id]" ng-disabled="true"> -->
                                <i class="icon-check" ng-if="data.services[service.id]"></i>
                                <i class="icon-ban" ng-if="!data.services[service.id]"></i>
                                <i></i>
                                {{service.name}}
                            </label>
                        </div>
                    </div>

                </uib-tab>

                <uib-tab index="2" ng-if="false">
                    <uib-tab-heading>
                        <i class=" icon-tag"></i>
                        <span translate="listing.tab_prices"></span>
                    </uib-tab-heading>

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped m-b-none">
                                <thead>
                                <tr>
                                    <th translate="listing.price.price" class="col-xs-2"></th>
                                    <th translate="listing.price.subscription" class="col-xs-4"></th>
                                    <th translate="listing.price.coin" class="col-xs-2"></th>
                                    <th translate="listing.price.max_clients" class="col-xs-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="price in data.prices">
                                    <td ng-bind="price.price|currency"></td>
                                    <td>
                                        <span ng-if="!price.is_subscription"
                                              translate="listing.price.without_subscription"></span>
                                            <span ng-if="price.is_subscription">
                                                <span translate="listing.price.subscription_{{price.subscription_method}}"></span>
                                            </span>
                                    </td>
                                    <td ng-bind="price.coin"></td>
                                    <td ng-bind="price.max_clients"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </uib-tab>

                <!--<uib-tab index="3">
                    <uib-tab-heading>
                        <i class="icon-social-youtube"></i>
                        <span translate="listing.tab_youtube"></span>
                    </uib-tab-heading>

                    <div class="row text-center">
                        <embed-video href="{{data.video_youtube}}" width="90%" height="400px"></embed-video>
                        <!-- <youtube-video video-url="data.video_youtube"></youtube-video> -->
                <!--</div>

            </uib-tab>-->

                <!--<uib-tab index="4">
                    <uib-tab-heading>
                        <i class="fa  fa-vimeo-square"></i>
                        <span translate="listing.tab_vimeo"></span>
                    </uib-tab-heading>

                    <div class="row text-center">
                        <embed-video href="{{data.video_vimeo}}" width="90%" height="400px"></embed-video>
                        <!-- <vimeo-video player-id="video2" video-url="'{{data.video_vimeo}}'"></vimeo-video> -->
                <!--</div>
            </uib-tab>-->

                <uib-tab index="5" select="renderMap()">
                    <uib-tab-heading>
                        <i class="fa   fa-map-marker"></i>
                        <span translate="listing.tab_location"></span>
                    </uib-tab-heading>

                    <div class="row">
                        <ng-map zoom="15" center="{{data.latitude}}, {{data.longitude}}">
                            <marker position="{{data.latitude}}, {{data.longitude}}"></marker>
                        </ng-map>
                    </div>
                </uib-tab>

                <uib-tab index="6" select="loadComments()">
                    <uib-tab-heading>
                        <i class=" icon-bubbles"></i>
                        <span translate="listing.tab_comments"></span>
                        <span class="badge bg-danger" ng-bind="data.comments_total"></span>
                    </uib-tab-heading>

                    <div loading-container="tableComments.settings().$loading">
                        <table ng-table="tableComments" class="width-full">
                            <tr>
                                <td>
                                    <ul class="list-group list-group-lg no-bg auto">
                                        <li class="list-group-item clearfix" ng-repeat="comment in $data">
                                            <span class="pull-left thumb-sm avatar m-r">
                                                <img ng-src="{{comment.user.image_profile}}" alt="...">
                                                <i class="on b-white bottom"></i>
                                            </span>
                                            <span class="clear">
                                                <span ng-bind="comment.user.first_name+' '+comment.user.last_name"></span>
                                                <small class="text-muted clear text-ellipsis"
                                                       ng-bind="comment.comment"></small>
                                            </span>
                                            <div class="clear text-right">
                                                <i class=" icon-clock"></i>
                                                <span ng-bind="comment.created_at|amDateFormat:dateOptions.largeFormat"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                        <span class="clearfix"></span>
                        <form name="frmComment" ng-submit="insertComment()" ax-form-valid="" novalidate class="m-t-sm">
                            <div class="form-group">
                                <div class="has-feedback">
                                    <textarea rows="4" class="form-control" ng-model="newComment.comment"
                                              ng-trim="false" required
                                              placeholder="{{'listing_comment.comment'|translate}}"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" ng-disabled="frmComment.$invalid"
                                        class="btn btn-default dker b-dark pull-right">
                                    <i class="icon-check"></i>
                                    <span translate="common.btn_send"></span>
                                </button>
                            </div>
                            <span class="clearfix"></span>

                        </form>
                    </div>

                </uib-tab>
                <uib-tab index="7">
                    <uib-tab-heading>
                        <i class="icon-star"></i>
                        <span translate="listing.tab_reviews"></span>
                    </uib-tab-heading>

                    <div loading-container="tableReview.settings().$loading">
                        <table ng-table="tableReview" class="width-full">
                            <tr>
                                <td>
                                    <ul class="list-group list-group-lg no-bg auto">
                                        <li class="list-group-item clearfix" ng-repeat="review in $data">
                                            <span class="pull-left thumb-sm avatar m-r">
                                                <img ng-src="{{review.user.image_profile}}" alt="...">
                                                <i class="on b-white bottom"></i>
                                            </span>
                                            <span class="clear">
                                                <span ng-bind="review.user.first_name+' '+review.user.last_name"></span>
                                                <span>
                                                    <ax-rate ng-model="review.rating"></ax-rate>
                                                </span>
                                                <small class="text-muted clear text-ellipsis"
                                                       ng-bind="review.comment"></small>
                                            </span>
                                            <div class="clear text-right">
                                                <i class=" icon-clock"></i>
                                                <span ng-bind="review.created_at|amDateFormat:dateOptions.largeFormat"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>

                </uib-tab>

            </uib-tabset>

        </div>
    </div>

</div>
