<div class="m-t">
    <h3>
        <i class=" icon-grid"></i>
        <span translate="access.profile.escapadas.header"></span>
        <a ui-sref="app.profile.listings_insert" class="btn btn-default pull-right">
            <i class="icon-plus"></i>
            <span translate="access.profile.escapadas.insert"></span>
        </a>
    </h3>
</div>
<span class="clearfix"></span>
<hr>
<div loading-container="tableParams.settings().$loading">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-responsive">

        <tr ng-repeat="lst in $data">
            <td ng-bind="lst.name_es" header="'header/listing_type_id.html'" ></td>
            <td ng-bind="lst.country" header="'header/country_code.html'" ></td>
            <td ng-bind="lst.city" header="'header/city.html'" ></td>
            <td ng-bind="lst.price" header="'header/price.html'" ></td>
            <!--<td header="'header/created_at.html'">-->
                <!--<nobr>{{lst.created_at | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</nobr>-->
            <!--</td>-->
            <td class="text-center">
                <a ng-click="edit(lst)" tooltip-placement="top" uib-tooltip="{{'listing.btn_edit'|translate}}">
                    <i class="icon-note"></i>
                </a>
                <a ng-click="delete(lst)" tooltip-placement="left" uib-tooltip="{{'listing.btn_delete'|translate}}">
                    <i class="icon-trash"></i>
                </a>
            </td>
        </tr>
    </table>
</div>

<!-- Headers -->
<script type="text/ng-template" id="header/price.html">
    <span translate="listing.price"></span>
</script>
<script type="text/ng-template" id="header/listing_type_id.html">
    <span translate="access.profile.listing_type.single"></span>
</script>
<script type="text/ng-template" id="header/country_code.html">
    <span translate="listing.country_code"></span>
</script>
<script type="text/ng-template" id="header/city.html">
    <span translate="listing.city"></span>
</script>
<script type="text/ng-template" id="header/created_at.html">
    <span translate="listing.created_at"></span>
</script>

<!-- Filters -->
<script type="text/ng-template" id="filter/listing_type_id.html">
    <select name="{{name}}" ng-model="params.filter()[name]" ng-disabled="$filterRow.disabled" class="input-filter form-control" ng-options="listingType.id as listingType.name for listingType in listingTypes">
        <option value="">{{'access.profile.listing_type.single'|translate}}</option>
    </select>
</script>
<script type="text/ng-template" id="filter/created_at.html">
    <div class="has-feedback">
        <datepicker date-format="{{dateOptions.datepickerShort}}">
            <input name="{{name}}" ng-model="params.filter()[name]" type="text" class="input-filter form-control"/>
        </datepicker>
        <span class="icon-calendar form-control-feedback"></span>
    </div>
</script>
<script type="text/ng-template" id="filter/country_code.html">
    <select name="{{name}}" ng-model="params.filter()[name]" ng-disabled="$filterRow.disabled" class="input-filter form-control" ng-options="country.code as country.name for country in countries">
        <option value="">{{'listing.country_code'|translate}}</option>
    </select>
</script>
<script type="text/ng-template" id="filter/capacity.html">
    <input type="text" name="{{name}}" ui-number-mask="0" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="{{listing.capacity|translate}}"/>
</script>
<script type="text/ng-template" id="filter/city.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" placeholder="{{listing.capacity|translate}}"/>
</script>
