<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-map-marker"></i>
        <span translate="listing.map.header"></span>
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="data.address" placeholder="{{'listing.map_address'|translate}}">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <ng-map  zoom="15" center="{{data.address}}" on-click="placeMarker()">
                <marker position="{{data.latitude}}, {{data.longitude}}" draggable="true" on-dragend="placeMarker()"></marker>
            </ng-map>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-default dker b-dark btn-block" ng-click="close()">
                <i class="icon-check"></i>
                <span translate="common.btn_accept"></span>
            </button>
        </div>
    </div>
</div>
