<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h4 class="modal-title">
        <i class="icon-tag"></i>
        <span translate="listing.price.header"></span>
    </h4>
</div>

<div class="modal-body" id="test">
    <form ng-submit="save()" ax-form-valid="" novalidate>
        <div class="form-group">
            <div class=" has-feedback">
                <input type="text"  ui-money-mask min="0.01" placeholder="{{'listing.price.price'|translate}}" class="form-control" ng-model="cprice.price" ng-required="true" ax-valid="">
                <span class="icon-tag form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group">
            <div class=" has-feedback">
                <input type="text" ui-number-mask="0" min="1" placeholder="{{'listing.price.max_clients'|translate}}" class="form-control" ng-model="cprice.max_clients" ng-required="true" ax-valid="">
                <span class="icon-users form-control-feedback"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="i-checks">
                <input type="checkbox" ng-model="cprice.is_subscription">
                <i></i>
                {{'listing.price.is_subscription'|translate}}
            </label>
        </div>
        <div class="form-group" ng-if="cprice.is_subscription">
            <label class="i-checks">
                <input type="radio" ng-model="cprice.subscription_method" ng-value="'d'">
                <i></i>
                {{'listing.price.subscription_d'|translate}}
            </label>
            <label class="i-checks">
                <input type="radio" ng-model="cprice.subscription_method" ng-value="'m'">
                <i></i>
                {{'listing.price.subscription_m'|translate}}
            </label>
            <label class="i-checks">
                <input type="radio" ng-model="cprice.subscription_method" ng-value="'y'">
                <i></i>
                {{'listing.price.subscription_y'|translate}}
            </label>
        </div>
        <div class="form-group">
            <div class=" has-feedback">
                <select class="form-control" ng-model="cprice.coin" ng-options="c.code as c.name for c in coins" required ax-valid>
                    <option value="">{{'listing.price.coin'|translate}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class=" has-feedback">
                <textarea ng-model="cprice.description" rows="4" cols="40" placeholder="{{'listing.price.description'|translate}}"></textarea>
            </div>
        </div>




        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-default dker b-dark btn-block">
                <i class="icon-check"></i>
                <span translate="common.btn_save"></span>
            </button>
        </div>

    </form>
</div>
