<!-- main header -->
<div class="bg-light lter b-b wrapper-md">
    <div class="row text-center">
        <div class="">
            <h1 class="m-n font-thin h3 text-black">
                <i class="fa fa-search"></i>
                <span translate="listing.search.header"></span>
            </h1>
            <small class="text-muted" translate="listing.search.subheader"></small>
        </div>
    </div>
</div>
<!-- / main header -->

<div class="wrapper-md m-t-xs custom-container">
    <div class="panel panel-default shadow">

        <div class="row m-xs">

            <div class="col-sm-3 hidden-xs shadow" ng-class="{'panel-search':showSearch}">
                <span ng-show="showSearch" class="top arrow arrow-black " style="left: 5%;top: -10px;"></span>
                <div class="row">
                    <div class="col-xs-12 v-middle">
                        <div class="text-center bg-app wrapper-xs r r-2x">
                            <h3>
                                <span ng-bind="tableListings.total()"></span>
                                <i class="icon-home"></i>
                            </h3>
                            <span translate="listing.search.top_in_city"></span>
                        </div>
                        <span class="bottom arrow arrow-app"></span>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="form-group">
                        <div class="has-feedback">
                            <input
                                type="text"
                                placeholder="{{'listing.hotel_name'|translate}}"
                                ng-model="tableListings.filter()['hotel_name']"
                                class="form-control"
                                typeahead-min-length="0">
                            <span class="icon-home form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-feedback">
                            <select class="form-control" ng-model="tableListings.filter()['listing_type_id']" ng-options="type.id as type.name for type in listing_types">
                                <option value="">{{'listing.listing_type_id'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-feedback">
                            <select class="form-control" ng-model="tableListings.filter()['country_code']" ng-options="country.code as country.name for country in countries" ng-change="onChangeCountry(tableListings.filter()['country_code'])">
                                <option value="">{{'access.label_country'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="has-feedback">
                            <input
                                type="text"
                                placeholder="{{'listing.city'|translate}}"
                                ng-model="tableListings.filter()['city']"
                                uib-typeahead="city.name for city in cities | filter:$viewValue"
                                class="form-control"
                                typeahead-editable="true"
                                typeahead-show-hint="true"
                                typeahead-min-length="0">
                            <span class="fa fa-location-arrow form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label translate="listing.search.range_date"></label>
                            <div class="has-feedback">
                                <datepicker date-format="{{dateOptions.datepickerShort}}">
                                    <input ng-model="tableListings.filter()['start_date']" placeholder="{{'listing.search.date_after'|translate}}" type="text" class="input-filter form-control"/>
                                </datepicker>

                                <span class="icon-calendar form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="has-feedback">
                                <datepicker date-format="{{dateOptions.datepickerShort}}">
                                    <input ng-model="tableListings.filter()['end_date']" placeholder="{{'listing.search.date_before'|translate}}" type="text" class="input-filter form-control"/>
                                </datepicker>

                                <span class="icon-calendar form-control-feedback"></span>
                            </div>
                        </div>

                    </div>

                    <label translate="listing.search.capacity" class="hidden"></label>
                    <div class="btn-group text-center m-b-sm hidden">
                        <label class="btn btn-default" ng-model="tableListings.filter()['capacity']" uib-btn-radio="'1'">1</label>
                        <label class="btn btn-default" ng-model="tableListings.filter()['capacity']" uib-btn-radio="'2'">2</label>
                        <label class="btn btn-default" ng-model="tableListings.filter()['capacity']" uib-btn-radio="'3'">3</label>
                        <label class="btn btn-default" ng-model="tableListings.filter()['capacity']" uib-btn-radio="'4'">4</label>
                        <label class="btn btn-default" ng-model="tableListings.filter()['capacity']" uib-btn-radio="'5'">
                            5+<i class="icon-users"></i>
                        </label>
                    </div>

                    <div class="m-t-xs" ui-jq="slimScroll" ui-options="{height:'350px', size:'8px'}">
                        <div translate="listing.search.services" class="bold"></div>
                        <label class="i-checks m-t-sm m-r" ng-repeat="service in services">
                            <input type="checkbox" ng-model="tableListings.filter()['services'][service.id]">
                            <i></i>
                            {{service.name}}
                        </label>
                    </div>
                </div>

            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-default" ng-click="showSearch = !showSearch">
                                    <i class="fa fa-search-plus" ng-if="!showSearch"></i>
                                    <i class="fa fa-search-minus" ng-if="showSearch"></i>
                                </button>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-sm-2" style="padding-top:5px">
                                <span translate="listing.search.sort_by"></span>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" ng-model="tableListings.sorting()['field']">
                                    <option value="price">{{'listing.search.sort_price'|translate}}</option>
                                    <option value="rating">{{'listing.search.sort_rating'|translate}}</option>
                                    <option value="created_at">{{'listing.search.sort_created_at'|translate}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label class="i-checks m-t-xs m-r">
                                    <input type="radio" ng-model="tableListings.sorting()['direction']" value="desc">
                                    <i></i>
                                    {{'listing.search.sort_desc'|translate}}
                                </label>
                                <label class="i-checks m-t-xs ">
                                    <input type="radio" ng-model="tableListings.sorting()['direction']" value="asc">
                                    <i></i>
                                    {{'listing.search.sort_asc'|translate}}
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <div class="pull-right" ng-init="view = 1">
                                    <button class="btn btn-sm m-b-xs  btn-default" ng-class="{'active':view == 1}" ng-click="view = 1" style="padding:4px 8px;font-size:16px">
                                        <i class="icon-grid"></i>
                                    </button>
                                    <button class="btn btn-sm m-b-xs  btn-default" ng-class="{'active':view == 2}" ng-click="view = 2" style="padding:4px 8px;font-size:16px">
                                        <i class=" icon-list"></i>
                                    </button>
                                    <!-- <button class="btn btn-sm m-b-xs  btn-default" ng-class="{'active':view == 3}" ng-click="view = 3" style="padding:4px 8px;font-size:16px">
                                        <i class="fa fa-table"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div loading-container="tableListings.settings().$loading">
                            <table ng-table="tableListings" class="width-full">
                                <tr>
                                    <td>
                                        <div class="" ng-class="{'col-sm-12':view==2,'col-sm-4 col-xs-12':view!=2}" ng-repeat-start="listing in $data" ng-style="{'min-height':view ==1 ? '340px':(view==3 ?'400px':'')}">
                                            <a ui-sref="app.listings_details({id:listing.id})">
                                                <div class="panel">
                                                    <div class="row">
                                                        <div class="b b-a wrapper-xs bg-white " style="    height: 215px;overflow:hidden" ng-class="{'col-sm-4 col-xs-12':view==2}">
                                                            <img ng-src="{{listing.image_primary.path}}" class="img-full img-responsive img-lst">
                                                            <div class="text-center price-bx price-bx-m">
                                                                <i class="icon-tag text-muted"></i>
                                                                <span class="hidden" translate="listing.price"></span>
                                                                <span class="m-r-sm" ng-bind="(listing.price|number)+ '€'"></span>
                                                            </div>

                                                        </div>
                                                        <div ng-class="{'col-sm-8 col-xs-12':view==2}">
                                                            <div class="row">
                                                                <div ng-class="{'col-xs-12':view!=2,'col-sm-8 col-xs-12':view == 2}">
                                                                    <h4 class="text-center">
                                                                        <strong ng-bind="listing.owner.hotel_name"></strong>
                                                                    </h4>   
                                                                    
                                                                    <h5 ng-class="{'hidden-xs':view != 2}" class="text-center">
                                                                        <span class="fa  fa-map-marker"></span>
                                                                        <span ng-bind="listing.country.name + ((listing.city != '')?','+listing.city : '') | characters:((view!=2)?32:100):true"></span>
                                                                    </h5>
                                                                    <h5 class="text-center">
                                                                        <strong ng-bind="listing.listing_type.name"></strong>
                                                                    </h5>

                                                                    <div ng-if="view==2">
                                                                        <span class="color-primary">
                                                                            <i class="icon-tag"></i>
                                                                            <span translate="listing.d_price"></span>
                                                                        </span>
                                                                        <span ng-bind="listing.price|number:2"></span>
                                                                        <span translate="common.euro"></span>

                                                                        <!-- <span ng-if="listing.price > 0" class="label bg-dark m-xs">
                                                                            <span ng-bind="listing.price|number:2"></span>
                                                                            <span translate="common.euro"></span>
                                                                            <span translate="listing.d_price"></span>
                                                                        </span>
                                                                        <span ng-if="listing.price_week > 0" class="label bg-dark m-xs">
                                                                            <span ng-bind="listing.price_week|number:2"></span>
                                                                            <span translate="common.euro"></span>
                                                                            <span translate="listing.d_price_week"></span>
                                                                        </span>
                                                                        <span ng-if="listing.price_month > 0" class="label bg-dark m-xs">
                                                                            <span ng-bind="listing.price_month|number:2"></span>
                                                                            <span translate="common.euro"></span>
                                                                            <span translate="listing.price_month"></span>
                                                                        </span> -->
                                                                    </div>
                                                                    <div ng-if="view==2">
                                                                        <span class="color-primary">
                                                                            <i class="icon-user"></i>
                                                                            <span translate="listing.owner"></span>
                                                                        </span>
                                                                        <span ng-bind="listing.owner.first_name"></span>
                                                                    </div>
                                                                    <div ng-if="view==2">
                                                                        <span class="color-primary">
                                                                            <i class="icon-calendar"></i>
                                                                            <span translate="listing.created_at"></span>
                                                                        </span>
                                                                        <span ng-bind="listing.created_at| amDateFormat:dateOptions.largeFormat"></span>
                                                                    </div>
                                                                    <div ng-if="view==2" class="hidden">
                                                                        <span class="color-primary">
                                                                            <i class="icon-pin"></i>
                                                                            <span translate="listing.services"></span>
                                                                        </span>
                                                                        <span class="label label-info m-r-xs" ng-repeat="s in listing.services" ng-bind="s.name" style="display: table-caption;margin-top: 2px;"></span>
                                                                    </div>
                                                                </div>
                                                                <div ng-class="{'col-xs-12':view!=2,'col-sm-4 col-xs-12':view == 2}">
                                                                    <div class="text-center" >
                                                                        <ax-rate ng-model="listing.rating"></ax-rate>
                                                                        <div ng-if="view==1">
                                                                            <span ng-bind="listing.reviews_total"></span>
                                                                            <span translate="listing.reviews_total"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="text-center" ng-if="view==2">
                                                                        <span ng-bind="listing.comments_total"></span>
                                                                        <i class="fa fa-comment-o text-muted"></i>
                                                                        <span translate="listing.comments_total"></span>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="text-muted" ng-if="false">
                                                                <span class="color-primary">
                                                                    <i class="icon-note"></i>
                                                                    {{'listing.selft_description'|translate}}:
                                                                </span>
                                                                <div class="shadow b b-t b-light m-b-xs" ng-bind-html="listing.description" ng-show="view==2" ui-jq="slimScroll" ui-options="{height:'70px', size:'8px'}"></div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div ng-repeat-end="listing in $data" ng-if="($index +1) % 3 == 0" class="clearfix"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
