<div class="m-t">
    <h3>
        <i class="icon-ban"></i>
        <span translate="listing_stop_sales.header"></span>
    </h3>
</div>
<span class="clearfix"></span>
<hr>

<span id="langdate" hidden="hidden">{{selectLang}}</span>

<div class="row">

    <div class="col-sm-12 col-md-5">
        <label translate="listing_stop_sales.search_label_start_date"></label>
        <div class="has-feedback">
            <datepicker date-format="{{dateOptions.datepickerShort}}">
                <input ng-model="dateData.start_date" type="text" class="input-filter form-control"/>
            </datepicker>
            <span class="icon-calendar form-control-feedback"></span>
        </div>
    </div>

    <div class="col-sm-12 col-md-5">
        <label translate="listing_stop_sales.search_label_end_date"></label>
        <div class="has-feedback">
            <datepicker date-format="{{dateOptions.datepickerShort}}">
                <input ng-model="dateData.end_date" type="text" class="input-filter form-control"/>
            </datepicker>

            <span class="icon-calendar form-control-feedback"></span>
        </div>
    </div>

    <div class="col-sm-12 col-md-1">
        <label translate="listing_stop_sales.stop"></label>
        <button class="btn btn-default" style="width: 100%;" type="button"
                data-ng-click="addOrRemoveCreateDateFilter()">
            <span class="icon-ban"></span>
        </button>
    </div>

    <div class="col-sm-12 col-md-1">
        <label translate="listing_stop_sales.continue"></label>
        <button class="btn btn-default" style="width: 100%;" type="button"
                data-ng-click="removeDateFilter()">
            <span class="glyphicon glyphicon-play"></span>
        </button>
    </div>
</div>
<hr>
<div ui-calendar="uiConfig.calendar" class="col-xs-12 calendar" ng-model="eventSources" calendar="calendar"></div>
<hr>