<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">
        <i class="icon-close"></i>
    </button>
    <h4 class="modal-title">
        <i class="icon-pencil"></i>
        <span translate="faq.update.header"></span>
    </h4>
</div>

<div class="modal-body">

    <form ng-submit="save()" ax-form-valid="" novalidate>

        <uib-tabset class="tab-container tab-container-tiny" style="padding:1px">
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="icon-flag"></i>
                    <span translate="menu.header.lang.es"></span>
                </uib-tab-heading>
                <div class="wrapper-md">
                    <div class="form-group ">
                        <label for="" translate="faq.question"></label>
                        <div class=" has-feedback">
                            <input type="text" placeholder="{{'faq.question'|translate}}" class="form-control" ng-model="data.question_es" ng-required="true" ax-valid="">
                            <span class="icon-question form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                       <label for="" translate="faq.answer"></label>
                       <textarea ng-model="data.answer_es" ui-tinymce="tinymceOptions"></textarea>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="2">
                <uib-tab-heading>
                    <i class="icon-flag"></i>
                    <span translate="menu.header.lang.en"></span>
                </uib-tab-heading>

                <div class="wrapper-md">
                    <div class="form-group ">
                        <label for="" translate="faq.question"></label>
                        <div class=" has-feedback">
                            <input type="text" placeholder="{{'faq.question'|translate}}" class="form-control" ng-model="data.question_en" ng-required="true" ax-valid="">
                            <span class="icon-question form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                       <label for="" translate="faq.answer"></label>
                       <textarea ng-model="data.answer_en" ui-tinymce="tinymceOptions"></textarea>
                    </div>
                </div>

            </uib-tab>
            <!--<uib-tab index="3" class="hidden">-->
                <!--<uib-tab-heading>-->
                    <!--<i class="icon-flag"></i>-->
                    <!--<span translate="menu.header.lang.fr"></span>-->
                <!--</uib-tab-heading>-->

                <!--<div class="wrapper-md">-->
                    <!--<div class="form-group ">-->
                        <!--<label for="" translate="faq.question"></label>-->
                        <!--<div class=" has-feedback">-->
                            <!--<input type="text" placeholder="{{'faq.question'|translate}}" class="form-control" ng-model="data.question_fr" ng-required="true" ax-valid="">-->
                            <!--<span class="icon-question form-control-feedback"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                       <!--<label for="" translate="faq.answer"></label>-->
                       <!--<textarea ng-model="data.answer_fr" ui-tinymce="tinymceOptions"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</uib-tab>-->
        </uib-tabset>

        <div class="row">
            <div class="col-xs-12 form-group">
                <button type="submit" class="btn btn-lg btn-default dker b-dark pull-right">
                    <i class="icon-check"></i>
                    <span translate="common.btn_accept"></span>
                </button>
            </div>
        </div>
    </form>
</div>
